*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.main-size{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.size{
    width: 800px;
    height: 100%;
    background-color: tomato;
    padding: 20px 100px;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.lavel-size{
    font-size: 20px;
    font-weight: 600;
    color: #fff;

}
